@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #EDEDED;
    /* overflow: hidden; */
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* App.css */
.app-container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Navigation (Sidebar) */
  .app-container > nav {
    width: 250px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Content Area */
  .content-container {
    flex: 1;
    overflow-y: auto;
  }