.create-tasklist-container {
  background-color: #D9D9D9;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 8px;
  width: 270px;
  border-radius: 5px;
  font-size: 12px;
}

.filter-tasklist-container {
  background-color: #D9D9D9;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  width: 270px;
  border-radius: 5px;
  font-size: 12px;
}

.filter-tasklist-container li {
  margin: 0 10px;
}

.filter-item {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-container {
  margin-left: 10px;
}

.create-tasklist-container li {
  font-weight: bold;
  color: rgba(43, 50, 65, 80);
}

.icon-container {
  border-left: 1px solid #0000003b;
  padding-left: 10px;
}

.list-button {
  cursor: pointer;
  padding: 5px;
}

.list-button:hover {
  background-color: #cccccc;
}

.optional-text {
  color: rgba(0, 0, 0, 0.473);
}

@media (min-width: 1300px) {
  .create-tasklist-container {
    background-color: #D9D9D9;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 8px;
    width: 350px;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .filter-tasklist-container {
    background-color: #D9D9D9;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 8px;
    width: 400px;
    border-radius: 5px;
    font-size: 15px;
  }
}