/* Sidebar styles */
.sidebar {
  width: 75px;
}

.sidebar .ps-menu-button {
  color: #FFFFFF !important;
}

.sidebar .ps-menu-button:hover {
  background-color: #3a4251 !important;
  border-radius: 10px;
}

.sidebar .toggle-menu-btn {
  margin-left: 11px;
}

/* DIVIDE LINE */
.menu-divide-line {
  border-bottom: 1px solid #4e5b6b;
}

/* USER INFO SECTION */
.user-info-item {
  display: flex;
  justify-content: center;
}

.user-info-container {
  display: flex;
}

.user-info-item .user-info-container .user-avatar {
  margin-right: 10px;
}

.user-info-item .user-info-container .user-avatar img {
  width: 40px;
  height: 40px;
}

.user-info-item .user-info-user-details .user-info-username {
  font-size: 15px;
}

.user-info-item .user-info-user-details .user-info-email {
  font-size: 12px;
  color: #bfbfbf;
}

.menu-items {
  margin-left: 7px;
}

.menu-icon {
  margin-right: 15px;
}